<!DOCTYPE html>
<html lang=en>

	<head>
		<title>Login - CASA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/casa-login-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 casa-login-bg">
					
					<div class="col-xs-12 casa-login-form-area"> 
						<img src="img/casa-logo-nav.png" alt="" class="img-responsive logo">
						
						<!-- form  starts -->
						<form>
							<div class="form-group">
								<h4>Login</h4>
								<div class="input-group">
									 <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
									 <input type="email" class="form-control" id="email" name="email" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									 <div class="input-group-addon"><i class="fa fa-unlock"></i></div>
									 <input type="password" class="form-control" id="password" name="password" placeholder="Password">
								</div>
							</div>
							
							<button type="button" class="btn casa-sign-in-btn">Login</button> 
							<small><a href="/forgetpassword">Forgot Password?</a></small> 
						</form> <!-- form -->
						
					</div> <!-- login-form-area -->
					
				</div> <!-- mis-login-bg -->
			</div> <!-- row -->
		</div> <!-- container-fluid -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$(document).on('click', '.casa-sign-in-btn', function(e){
				// $('#login').submit(function(e) {
				e.preventDefault();
				var login = {
					loginEmail : $('#email').val(),
					loginPassword: $('#password').val()
				};
				$.ajax({
					method: "POST",
					url: '/login',
					data: login,
					success: function(res) {
						if (res.error) {
							console.log("error", res.message)
						} else {
							console.log('Super Admin');
							window.location.href = '/users'
						}
					}
				});
			});
		</script>
	</body>

</html>