<!DOCTYPE html>
<html lang=en>

	<head>
		<title>Forgot Password - CASA</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/casa-login-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 casa-login-bg">
					
					<div class="col-xs-12 casa-login-form-area"> 
						<img src="img/casa-logo-nav.png" alt="" class="img-responsive logo">
						
						<!-- form  starts -->
						<form>
							<div class="form-group">
								<h4>Forgot Password</h4>
								<h5>Please Give Your Email:</h5>
								<div class="input-group">
									 <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
									 <input type="email" class="form-control" id="email" name="email" placeholder="Email">
								</div>
							</div>
							
							<button type="button" class="btn casa-sign-in-btn" id="reset-password">Submit</button> 
							<small><a href="/login">Login</a></small> 
							
							<div class="alert alert-success" role="alert" id="success-alert" style="display: none"><b>Success!</b> Email Sent.</div>
							<div class="alert alert-danger" role="alert" id="fail-alert" style="display: none"></div>
						</form> <!-- form -->
						
					</div> <!-- login-form-area -->
					
				</div> <!-- mis-login-bg -->
			</div> <!-- row -->
		</div> <!-- container-fluid -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript">
			$("#reset-password").click(function() {
				console.log("Inside btn corporate");
				var succAlert = $('#success-alert');
				var failAlert = $('#fail-alert');
				var spinner = $('#spinner');
				succAlert.hide();
				failAlert.hide();
				spinner.hide();
				var formData = {
					handle: $('#email').val(),
				}

				console.log(formData);
			  $.ajax({
			    url: "/api/v1/sendchangepassmail",
			    method: "POST",
			    data: formData,
			    success: function(result) {
			      if (result.error) {
		        	console.log(result);
		        	failAlert.slideDown();
							spinner.fadeIn();
							failAlert.html(result.message);
		        	// $('#msg').text(result.message)
			        
			      } else {
			        succAlert.slideDown();
							spinner.fadeIn();
			      }
			    },
			    complete: function() {
			    	spinner.fadeOut();
			    	setTimeout(function() {
			    		failAlert.slideUp();
			    		succAlert.slideUp();			    		
			    	}, 5000);
			    }

			  });	  

			});
		</script>
	</body>

</html>