<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>Coupons - CASA</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<!--  data-tables -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css"/>
		<link href="/css/casa-admin-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <style>.delete-coupon {cursor: pointer}</style>
	</head>
	<body>
		
		<%- include('common/navbar', {activePage: "coupons"}) %>
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-sm-10 col-xs-8">
					<h3 class="casa-header">Coupons</h3>
				</div>
				<div class="col-sm-2 col-xs-4 text-right">
					<button type="button" class="btn btn-info btn-sm casa-add-btn" id="show-modal" data-target="#add-new-coupon">
						<i class="fa fa-plus"></i>&nbsp; Add
					</button>
				</div>
			
				<div class="col-sm-12">
					<div class="table-responsive casa-admin-table">
					    <table class="table table-bordered table-striped table-hover" id="user-table">
						    <thead>
								<tr>
									<th>Code</th>
									<th>Discount (%)</th>
									<th>Created On</th>
									<th>Action</th>
								</tr>
						    </thead>
							<tbody>
								<% coupons.forEach(function (coupon) { %>
								<tr>
									<td><%= coupon.code %></td>
									<td>
										<%= coupon.discountPercentage %> 
									</td>
									<td><%= moment(coupon.createdAt).format("Do MMM, YYYY") %></td>
                  <td><i class="fa fa-trash text-danger hover-pointer delete-coupon" id="delete-coupon-<%= coupon._id %>"></i></td>
								</tr>
								<% }) %>
							</tbody>
					    </table>
					</div>  <!--  table-responsive  -->
				</div>  <!--  col-sm-12  -->
			</div>  <!-- row  -->
			
		</div>   <!--  container-fluid  -->
		
	<!--  modal code starts -->
		<div class="modal fade" id="add-new-coupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content casa-modal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">        <span aria-hidden="true" class="fa fa-times"></span>
							</button>
							<h4 class="modal-title" id="exampleModalLabel">Add New Coupon</h4>
						</div>
						<div class="modal-body casa-license-form">
							<form>
							  <div class="form-group col-xs-6">
								  <label class="control-label">Coupon Code</label>
									<input type="text" class="form-control" placeholder="Code" id="new-code" style="text-transform:uppercase;">
							  </div>
							  <div class="form-group col-xs-6">
								  <label class="control-label">Discount (%)</label>
									<input type="text" class="form-control" placeholder="Discount" id="new-discount">
							  </div>

								<div class="col-xs-12 text-center">
									<button class="btn btn-success casa-create-btn" id="add-coupon-btn">Create</button>
								</div>
								<div class="clearfix"></div>
							</form>
						</div>  <!--  modal-body -->
				   </div>  <!-- modal-content  -->
			   </div>  <!--  modal-dialog  -->
			</div>  <!--  vertical-alignment-wrapper -->
		</div>  <!--  modal  -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!--  data-tables -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script>
		<script>
			$("#selectuser").addClass('active');
			$(document).ready(function(){
				$('#user-table').DataTable( {
						responsive: true,
						ordering: false
					}
				);
				$("#show-modal").click(function (e) {
					$('#add-new-coupon').modal('toggle')					
				});
			});

			$(document).on('click', '#add-coupon-btn', function (event) {
        event.preventDefault();
        // console.log(workshopsAllowedToTrain)
        var code = $("#new-code").val()
        var discountPercentage = $("#new-discount").val()
        if (discountPercentage === undefined || isNaN(discountPercentage) || discountPercentage < 0 || discountPercentage > 100) {
          alert("Discount Percentage must be a Number between 0 & 100")
          $("#new-discount").val(0)
          return false
        }
        if (code === undefined) {
          alert("Please Enter a Coupon Code")
          $("#new-coupon").val("")
          return false
        }
        console.log(code, discountPercentage)
        $("#add-coupon-btn").attr("disabled", "disabled")
        $.ajax({
          method: 'POST',
          type: 'POST',
          url: '/coupons',
          data: { code, discountPercentage },
          success: function (result) {
            if(result.error) {
              console.log('No Mail');
              $("#add-user").removeAttr("disabled")
            }
            else {
              $("#add-user").removeAttr("disabled")
              window.location.reload();
              console.log("success")
            }
          },
          error: function () {
            console.log("Network Error!!!!")
            $("#add-user").removeAttr("disabled")
          }
        })
      });

      var isDeleting = []
      $(document).on('click', '.delete-coupon', function (event) {
        var idToDelete = $(this).attr("id").replace("delete-coupon-", "")
        if (isDeleting.includes(idToDelete)) {
          return false // a delete operation is already in progress
        } else {
          isDeleting.push(idToDelete)
        }
        $.ajax({
          method: 'DELETE',
          type: 'DELETE',
          url: '/coupons/' + idToDelete,
          success: function (result) {
            isDeleting =  isDeleting.filter(id => id !== idToDelete)  // deleting current id operation over
            if(result.error) {
              console.log('No Mail');              
            }
            else {
              console.log("success")
              window.location.reload();
            }
          },
          error: function () {
            console.log("Network Error!!!!")
            isDeleting =  isDeleting.filter(id => id !== idToDelete)  // deleting current id operation over
          }
        })


      })
		</script>
  
	</body>
</html>