<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>Email - CASA</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<!--  data-tables -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css"/>
		<!-- bootstrap tags input -->
		<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
		<!--  select 2 -->
		<link href="/css/select2.min.css" rel="stylesheet">
		<link href="/css/casa-admin-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	</head>
	<body>
		
		<%- include('common/navbar', {activePage: "email"}) %>
	
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-sm-10 col-xs-8">
					<h3 class="casa-header">Send Email</h3>
				</div>
			
				<div class="col-sm-12">
					<form class="form-horizontal casa-send-mail-wrap" id="email-form">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-2 control-label">Choose List(s)</label>
							<div class="col-sm-9 col-md-10 casa-select-2-wrap">
								<select class="my-select2 js-example-basic-multiple" name="lists[]" id="lists" multiple="multiple">
									<% lists.forEach(function (list) { %>
										<option value="<%= list.id %>"><%= list.name %></option>
									<% }) %>
								</select>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-2 control-label">Choose Campaign</label>
							<div class="col-sm-9 col-md-10 casa-select-2-wrap">
								<select class="my-select2 js-example-basic-single" name="campaign" id="campaign">
									<% campaigns.forEach(function (campaign) { %>
										<option value="<%= campaign.id %>"><%= campaign.name %></option>
									<% }) %>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-2 control-label"></label>
							<div class="col-sm-9 col-md-10">
									<div class="checkbox">
									<label>
									<input type="checkbox" id="sendnotif" value="yes">
											<b>Also Send Notifications to Registered Users</b>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group" id="subject-form-group">
							<label for="" class="col-sm-3 col-md-2 control-label">Notification Text</label>
							<div class="col-sm-9 col-md-10">
								<input type="text" class="form-control" id="subject" placeholder="Enter Subject">
							</div>
						</div>
						<button type="submit" id="submit-btn" class="btn btn-success" style="display:block; margin:0 auto;">Send Email Campaign</button>
					</form>
				</div>  <!--  col-sm-12  -->
			</div>  <!-- row  -->
			
		</div>   <!--  container-fluid  -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- bootstrap tags input -->
		<!-- <script src="/js/bootstrap-tagsinput.js"></script> -->
		<!--  data-tables -->
	<!--	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script> -->
		<!--  select 2 -->
		<script src="/js/select2.min.js"></script>
		<script>
			$("#selectemail").addClass('active');
			$(document).ready(function() {
				$('.my-select2').select2();

				$("#subject-form-group").hide()
				$('#sendnotif').change(function() {
						// this will contain a reference to the checkbox   
						var chosenCampaign = $("#campaign option:selected").text().trim()
						console.log("Chosen Capaign name: ", chosenCampaign)
						if (this.checked) {
							$("#subject").val(chosenCampaign)
							$("#subject-form-group").show()
						} else {
							$("#subject").val(chosenCampaign)
							$("#subject-form-group").hide()
						}
				});
				$("#campaign").select2().on("change", function (e) {
						var chosenCampaign = $("#campaign option:selected").text().trim()
						$("#subject").val(chosenCampaign)
				})

				$("#email-form").submit(function (e) {
					e.preventDefault()
					var data = {
						lists: $("#lists").val(),
						campaign: $("#campaign").val(),
						sendnotif: $("#sendnotif").is(":checked") ? "yes" : "no",
						subject: $("#subject").val(),
					}
					$("#submit-btn").prop("disabled", true)
					$.ajax({
						method: "POST",
						url: "/email",
						data: data,
						success: function (resp) {
							console.log(resp)
							$("#submit-btn").prop("disabled", false)
							if (!resp.error) window.location.reload()
						},
						error: function () {
							$("#submit-btn").prop("disabled", false)
						}
					})
				})
			});
		</script>
	</body>
</html>