<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>Notifications - CASA</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<!--  data-tables -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css"/>
		<!-- bootstrap tags input -->
		<link href="/css/bootstrap-tagsinput.css" rel="stylesheet">
		<!--  select 2 -->
		<link href="/css/select2.min.css" rel="stylesheet">
		<link href="/css/casa-admin-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	</head>
	<body>
		
		<%- include('common/navbar', {activePage: "notifs"}) %>
	
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-sm-10 col-xs-8">
					<h3 class="casa-header">Send Notifications</h3>
				</div>
			
				<div class="col-sm-12">
					<form class="form-horizontal casa-send-mail-wrap" id="notif-form">

						<div class="form-group" id="user-chooser-form-group">
							<label for="" class="col-sm-3 col-md-2 control-label">Select Some User(s)</label>
							<div class="col-sm-9 col-md-10 casa-select-2-wrap">
								<select class="my-select2 js-example-basic-multiple" name="lists[]" id="chosen-users" multiple="multiple">
									<% users.forEach(function (user) { %>
										<option value="<%= user.id %>">
											<%= user.name.first + ' ' + user.name.last + ' <' + user.email + '>' %>
										</option>
									<% }) %>
								</select>
							</div>
						</div>
						<br/>
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-2 control-label"></label>
							<div class="col-sm-9 col-md-10">
									<div class="checkbox">
									<label>
									<input type="checkbox" id="choose-all-users" value="yes">
											<b>Send to ALL Registered users</b>
									</label>
								</div>
							</div>
						</div>
						<br/>
						<div class="form-group" id="subject-form-group">
							<label for="" class="col-sm-3 col-md-2 control-label">Notification Text</label>
							<div class="col-sm-9 col-md-10">
								<input type="text" class="form-control" id="subject" placeholder="Enter Subject">
							</div>
						</div>
						<button type="submit" id="submit-btn" class="btn btn-success" style="display:block; margin:0 auto;">Send Notifications</button>
					</form>
				</div>  <!--  col-sm-12  -->
			</div>  <!-- row  -->
			
		</div>   <!--  container-fluid  -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!--  select 2 -->
		<script src="/js/select2.min.js"></script>
		<script>
			// $("#selectemail").addClass('active');
			$(document).ready(function() {
				$('.my-select2').select2();

				$('#choose-all-users').change(function() {
						if (this.checked) {
							$("#user-chooser-form-group").hide()
						} else {
							$("#user-chooser-form-group").show()
						}
				});

				$("#notif-form").submit(function (e) {
					e.preventDefault()
					var data = {
						all: $("#choose-all-users").is(":checked") ? 'yes' : 'no',
						users: $("#chosen-users").val(),
						subject: $("#subject").val()
					}
					console.log(data)
					$("#submit-btn").prop("disabled", true)
					$.ajax({
						method: "POST",
						url: "/notifs",
						data: data,
						success: function (resp) {
							console.log("resp: ",resp)
							$("#submit-btn").prop("disabled", false)
							// if (!resp.error) window.location.reload()
						},
						error: function () {
							$("#submit-btn").prop("disabled", false)
						}
					})
				})
			});
		</script>
	</body>
</html>