<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>Users - CASA</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">
		<!--  data-tables -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.css"/>
		<link href="/css/casa-admin-styles.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
	</head>
	<body>
		
		<%- include('common/navbar', {activePage: "users"}) %>
		<div class="container-fluid">
			
			<div class="row">
				<div class="col-sm-10 col-xs-8">
					<h3 class="casa-header">Users</h3>
				</div>
				<div class="col-sm-2 col-xs-4 text-right">
					<button type="button" class="btn btn-info btn-sm casa-add-btn" id="show-modal" data-target="#add-new-user">
						<i class="fa fa-plus"></i>&nbsp; Add
					</button>
				</div>
			
				<div class="col-sm-12">
					<div class="table-responsive casa-admin-table">
					    <table class="table table-bordered table-striped table-hover" id="user-table">
						    <thead>
								<tr>
									<th>Name</th>
									<th>Email</th>
									<th>Type</th>
									<th>Action</th>
								</tr>
						    </thead>
							<tbody>
								<% users.forEach(function (user) { %>
								<tr>
									<td><%= user.name.full %></td>
									<td>
										<%= user.email %> 
									</td>
									<td><%= user.userType %></td>
									<td>
										<% if(user.isActive) { %>
										<button type="button" class="btn btn-sm btn-danger btn-deactivate status" style="width: 80px;" data-id="<%= user._id %>">Deactivate</button>
										<% }
										else { %>
										  <button type="button" class="btn btn-sm btn-success btn-activate status" style="width: 80px;" data-id="<%= user._id %>">Activate</button> <br/>
										<% } %>
									</td>
								</tr>
								<% }) %>
							</tbody>
					    </table>
					</div>  <!--  table-responsive  -->
				</div>  <!--  col-sm-12  -->
			</div>  <!-- row  -->
			
		</div>   <!--  container-fluid  -->
		
	<!--  modal code starts -->
		<div class="modal fade" id="add-new-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content casa-modal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">        <span aria-hidden="true" class="fa fa-times"></span>
							</button>
							<h4 class="modal-title" id="exampleModalLabel">Add New User</h4>
						</div>
						<div class="modal-body casa-license-form">
							<form>
							  <div class="form-group col-xs-6">
								  <label class="control-label">First Name</label>
									<input type="text" class="form-control" placeholder="Enter First Name" id="fname">
							  </div>
							  <div class="form-group col-xs-6">
								  <label class="control-label">Last Name</label>
									<input type="text" class="form-control" placeholder="Enter Last Name" id="lname">
							  </div>
								<div class="form-group col-xs-6">
									<label class="control-label">Email</label>
									<input type="email" class="form-control" placeholder="Enter Email" id="email">
								 </div>
								 <div class="form-group col-xs-6">
									<label class="control-label">Type</label>
									<select class="form-control" id="user-type">
										  <option disabled selected>Select Type</option>
										  <option>Admin</option>
										  <option>Member</option>
									</select>
								 </div>

								<div class="col-xs-12 text-center">
									<button class="btn btn-success casa-create-btn" id="add-user">Create</button>
								</div>
								<div class="clearfix"></div>
							</form>
						</div>  <!--  modal-body -->
				   </div>  <!-- modal-content  -->
			   </div>  <!--  modal-dialog  -->
			</div>  <!--  vertical-alignment-wrapper -->
		</div>  <!--  modal  -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!--  data-tables -->
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script>
		<script>
			$("#selectuser").addClass('active');
			$(document).ready(function(){
				$('#user-table').DataTable( {
						responsive: true,
						ordering: false
					}
				);
				$("#show-modal").click(function (e) {
					$('#add-new-user').modal('toggle')					
				});
			});

			$(document).on('click', '#add-user', function (event) {
        event.preventDefault();
        // console.log(workshopsAllowedToTrain)
        $("#add-user").attr("disabled", "disabled")
        var userData = {
          name: {
            first: $('#fname').val(),
            last: $('#lname').val()
          },
          email: $('#email').val(),
          userType: $('#user-type').val()
        }
        console.log(userData);
        $.ajax({
          method: 'POST',
          type: 'POST',
          url: '/addnewuser',
          data: userData,
          success: function (result) {
            if(result.error) {
              console.log('No Mail');
              $("#add-user").removeAttr("disabled")
            }
            else {
              window.location.reload();
              console.log("success")
            }
          }
        })
      });

      $(document).on('click', '.status', function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        console.log(id);
        $(this).attr("disabled","disabled")
        $.ajax({
          method: 'POST',
          type: 'POST',
          url: '/activedeactiveuser/' + id,
          success: function (result) {
            if(result.error) {
              console.log('No Mail');
              $(this).removeAttr("disabled")
            }
            else {
              window.location.reload();
            }
          }
        })
      });
		</script>
  
	</body>
</html>