
body {
	font-family: 'Oxygen';
	background: #fdfdfd;
}

.form-group input, .form-group select {
	box-shadow: none;
	height:40px;
	font-weight:700;
}

.btn, .btn:active, .btn:focus {
	outline:0 !important;
}

.input-group-addon {
	cursor: pointer;
}

/*  nav bar styles start */ 

.casa-admin-nav-bar  {
	border-radius: 0;
	-webkit-box-shadow: 0px 1px 7px 1px rgba(85,85,85,1);
	-moz-box-shadow: 0px 1px 7px 1px rgba(85,85,85,1);
	box-shadow: 0px 1px 7px 1px rgba(85,85,85,1);
	background: #f9c63a;
   border-color: #f9c63a;
}

.casa-admin-nav-bar .nav>li>a {
	color: #fff;
	font-size: 16px;
}

.casa-admin-nav-bar .navbar-nav>li>a {
    padding-top:24px;
    padding-bottom: 20px;
}

.casa-admin-nav-bar .navbar-nav>li>a:hover {
	color:#fff; background: transparent;
}

.casa-admin-nav-bar .navbar-nav>.active>a, .casa-admin-nav-bar .navbar-nav>li>a:focus {
	color: #b83e49;
	transition: all .2s ease-in;
	background: transparent;
	font-weight: 700;
}

.casa-admin-nav-bar .navbar-nav>.active>a:hover, .casa-admin-nav-bar .navbar-nav>.active>a:focus {
	background: transparent;  color: #b83e49;
}

.casa-nav-bar-left {
	padding-top: 2px;
}

.casa-nav-bar-left .casa-logo {
	height:54px;
}

/*  nav bar styles end */

.casa-header {
	padding-left: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 700;
	line-height: 1.4;
	font-size: 23px;
}

.casa-admin-table {
	margin:15px 0 30px;
	padding:20px 12px 10px;
	border-radius: 4px;
	border:1px solid #e7e7e7;
}

.casa-admin-table>tbody>tr:hover {
    background-color: #ececec;
}

.casa-admin-table .table>tbody>tr>td {
	vertical-align: middle;
}

.casa-admin-table .table>thead>tr>th {
	padding: 12px 8px 10px;
}

.casa-admin-table .table>thead:first-child>tr:first-child>th {
	color: #4e342e;
}

/*
.casa-clear-btn, .casa-clear-btn:hover, .casa-clear-btn:active, .casa-clear-btn:focus {
	background: transparent;
    border:none; outline: 0 !important;
	box-shadow: none; font-weight: 700;
	font-size: 17px; margin-right: 5px;
}
*/

.casa-add-btn {
	margin-top: 19px;
	margin-right: 15px;
}

.casa-tags-input .bootstrap-tagsinput {
	width:100%;
}

.casa-tags-input .bootstrap-tagsinput .label {
	font-size: 14px;
	padding: .1em .6em .3em;
	background: #817d7c;
}

.casa-send-mail-wrap {
	border:1px solid #ddd;
	border-radius:6px;
	padding:25px 10px;
	margin-top: 12px;
}

.casa-send-mail-wrap .control-label  {
	font-size: 15px;
	padding-top: 10px;
}

.casa-send-mail-wrap .form-group {
	margin-bottom: 20px;
}

.casa-send-mail-wrap input, .casa-send-mail-wrap textarea, .casa-send-mail-wrap .bootstrap-tagsinput {
	box-shadow: none;
}

.casa-send-mail-wrap input:focus, .casa-send-mail-wrap textarea:focus {
	box-shadow: none; border-color:#ccc;
}

.casa-select-2-wrap .select2-container {
	width:100% !important;
}

.casa-select-2-wrap .select2-container--default, .casa-select-2-wrap .select2-selection--single  {
	 height: 40px;
    font-weight: 700;
}

.casa-select-2-wrap select2-selection__rendered  {
	 line-height: 40px !important;
}

.casa-select-2-wrap .select2-container .select2-selection__rendered   {
	line-height: 40px;
	color: #555;
}

.casa-select-2-wrap .select2-container .select2-selection__arrow  {
	height:40px;
}

.casa-send-mail-wrap .checkbox input[type=checkbox] {
	height:unset;
}

/*  data tables css */

.casa-admin-table div.dataTables_wrapper div.dataTables_filter input,
.casa-admin-table div.dataTables_wrapper div.dataTables_length select  {
	box-shadow: none;
}

.casa-admin-table .pagination>li>a {
	padding: 4px 8px;
}

.casa-admin-table div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	margin-top: 5px;
}

.casa-admin-table .table-bordered>thead>tr>th {
	border-bottom-width: 1px;
}

/*  modal code */

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}

.casa-modal .modal-header {
	padding-bottom: 8px;
}

.casa-modal .modal-title {
	font-weight: 700;
}

.casa-create-btn {
	padding-top: 6px;
	margin: 20px 0 15px;
}

.casa-modal .close {
	opacity: .8; font-size: 18px; margin-top: 2px;
}

.casa-modal .close:hover, .casa-modal .close:active {
	opacity: 1; color:red;
}

.casa-modal .close:focus {
	outline:0 !important;
}

.casa-profile-info {
	font-size: 17px;
	padding-left: 215px;
	margin-top: 15px;
	color:#03712b;
	position: relative;
	line-height: 1.6;
}

.casa-profile-info span {
	color:#333;
	position: absolute;
	left: 0; 
}

.casa-profile-info span i {
	margin-right: 5px;
	font-size: 14px; vertical-align: 1px;
}

.casa-profile-save-btn {
	padding-top: 13px;
	margin-top: 15px;
}

/*  media styles start */

@media screen and (max-width: 992px) {
	.casa-admin-nav-bar .nav>li>a {
		padding: 22px 9px 20px;
		font-size: 13px;
	}
	
	.casa-nav-logo {
		margin: 1.5px auto 15px;
	}
	
	.casa-nav-bar-center {
		width: initial;
		float: left;
	}

	.casa-nav-bar-center>li {
		float: left;
		display: block;
	}
	
	.casa-nav-bar-left {
		position: absolute;
		left:15px; top: 1px;
	} 
	
}


@media screen and (min-width: 768px)  {
	
	.casa-nav-bar-center-wrap {
		position: relative;
	}

	.casa-nav-bar-center {
		width: 58%;
		text-align: center;
		display: block;
		float: none;
		margin: 0 auto;
		position: relative;
	}

	.casa-nav-bar-center>li {
		float: none;
		display: inline-block;
	}

	.casa-nav-bar-left {
		position: absolute;
		left:15px;
	} 

	.casa-nav-bar-right {
		position: absolute;
		right:15px; top:0px;
	}
	
}

@media screen and (min-width: 993px)  { 
	.casa-nav-bar-right {
		position: absolute;
		right:15px; top:1px;
	}
}