body {
	font-family: Roboto;
}

.casa-login-bg {
  height:99%; height:99vh; 
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  align-items: center;
}

.casa-login-form-area  {
  border:2px solid rgba(60,137,131, 0.8);
  border-radius:6px;
  padding:20px 30px;
  width:100%;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(247,247,247,0.7);
  -moz-box-shadow: 0px 0px 8px 2px rgba(247,247,247,0.7);
  box-shadow: 0px 0px 8px 2px rgba(247,247,247,0.7);
  text-align:center; background:#a9e2dd;
}

.casa-login-form-area input { border-top-right-radius:4px; border-bottom-right-radius:4px; border-left:none; box-shadow:none; padding-left:6px; border-color:#6fada8; }

.casa-login-form-area input:focus, .casa-user-type select:focus { outline:none; box-shadow:none; border-color:#ccc; border-color:#6fada8; }

.casa-login-form-area .input-group-addon { background:#fff; border-right:none; padding:6px 10px;  border-color:#6fada8; color:#817d7c; }

.casa-login-form-area .logo { display:block; margin:0px auto 30px;}

.casa-login-form-area small { display:block; cursor:pointer; font-size:13px;}

.casa-login-form-area h4 { margin-bottom:20px; color:#00529a; font-weight:700;}

.casa-user-type {
	width:100%; position: relative;
}

.casa-user-type select {
	box-shadow: none;
	border-radius: 4px; !important;
	padding-right:15px;
	padding-left: 34px;
	border-color:#6fada8;
}

.casa-user-type .form-control:last-child {
	border-radius: 4px;
}

.casa-user-type .fa {
	position: absolute;
	top:10px;
	left:9px;
	color: #555;
	z-index: 9;
	color:#817d7c;
}

.casa-sign-in-btn {
	background: #ff8d06;
   border: 2px solid #ff8d06;
	color:#fff;
	border-radius: 6px;
	 transition: all .6s;
	font-weight:700;
	margin: 10px auto 17px;
}

.casa-sign-in-btn:hover, .casa-sign-in-btn:focus, .casa-sign-in-btn:active {
	background: #fff;
   border: 2px solid #ff8d06;
	color:#ff8d06;
	 transition: all .6s;
	outline: 0 !important;
	box-shadow: none;
}