<p>Hello <%= userName%>,</p>        
<p>Welcome to Casa de Amparo!</p>
<p>Please allow us some time to verify &amp; activate your account.</p>
<p>We will let you know once the verification process is complete. You can then Login using your email: <b><%= emailId%></b> and password: <b><%=password%></b></p>
<p>--</p>   
<p>Thanks & Regards,</p>
<a href="/"><p>Casa de Amparo</p></a>