<p>Hello <%= userName %>,</p>        
<p>We are pleased to inform you that your account with us has just been activated.</p>
<p>You can now Login using the password you had chosen during signup.</p>
<p>--</p>   
<p>Thanks & Regards,</p>
<a href="/"><p>Casa de Amparo</p></a>