<!--  nav-bar start   -->
	<nav class="navbar navbar-default casa-admin-nav-bar">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			   </button>
			   <a class="navbar-brand casa-nav-bar-left" href="#">
					<img src="./img/casa-logo-nav.png" class="casa-logo">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse casa-nav-bar-center-wrap" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav casa-nav-bar-center">
					<li id="selectuser" class="<%= (activePage === 'users') ? 'active' : '' %>">
						<a href="/users">Users</a>
					</li>
					<li id="selectemail" class="<%= (activePage === 'email') ? 'active' : '' %>">
						<a href="/email">Email</a>
					</li>
					<li id="selectnotif" class="<%= (activePage === 'notifs') ? 'active' : '' %>">
						<a href="/notifs">Notifications</a>
					</li>
					<li id="selectcoupon" class="<%= (activePage === 'notifs') ? 'active' : '' %>">
						<a href="/coupons">Coupons</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right casa-nav-bar-right">
					<li><a href="/logout"><i class="fa fa-signout"></i> <b>Logout</b></a></li>
				</ul>
			</div>  <!-- navbar-collapse -->
		</div>  <!-- container-fluid -->
	</nav>
<!--  nav-bar end  -->	